<?xml version="1.0"?>

<model>
	<version>1.0</version>
	<name>intel_realsense_d415_sensor</name>
	<sdf version="1.5">model.sdf</sdf>

	<author>
		<name>Carlos Costa</name>
		<email>carloscosta.cmcc@gmail.com</email>
	</author>

	<description>
		Model of the intel_realsense_d415_sensor
	</description>
</model>
