<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<env name="GAZEBO_RESOURCE_PATH" value='$(find active_perception)/media:$(optenv GAZEBO_RESOURCE_PATH "")' />
	<env name="GAZEBO_MODEL_PATH" value='$(find active_perception)/media/models:$(optenv GAZEBO_MODEL_PATH "")' />
	<arg name="paused" default="false" />
	<arg name="use_gazebo_gui" default="true" />
	<arg name="use_gazebo2rviz" default="true" />
	<arg name="show_rviz" default="true" />
	<arg name="world_folder" default="$(find active_perception)/worlds/" />
	<arg name="world_name" default="active_perception.world" />
	<arg name="rviz_config" default="-d $(find active_perception)/rviz/active_perception.rviz" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(arg world_folder)$(arg world_name)" />
		<arg name="paused" default="$(arg paused)" />
		<arg name="use_sim_time" default="true" />
		<arg name="remap_clock" default="false" />
		<arg name="gui" default="$(arg use_gazebo_gui)" />
		<arg name="headless" default="false" />
		<arg name="debug" default="false" />
	</include>

	<include file="$(find gazebo2rviz)/launch/gazebo2rviz.launch" if="$(arg use_gazebo2rviz)" />

	<node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)" if="$(arg show_rviz)" output="screen" />
</launch>
